<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TIME</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(function() {
            $(".nav_btn").click(function() {
                $(".dropdown-content").slideToggle();
            });
        });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
</head>

<body>
    <%- include ("./partials/header") %>

        <section class="main" style="margin-top: 10vh">
            <section class="body archieve">
                <div class="body-head">
                    <h2>아카이빙</h2>
                </div>
                <div class="archieve-list">
                    <span><b>발표 주제</b></span
          ><span><b>게시 일자</b></span
          ><span><b>파일 다운</b></span>
                    <% for (a in archievings){ %>
                        <span><%= archievings[a].title %></span>
                        <span><%= archievings[a].updatedDate %></span>
                        <span><i
              class="fas fa-file-archive"
              onclick="location.href='<%= archievings[a].fileURL %>'"
            ></i
          ></span>
                        <% } %>
                </div>
                <a href="#modalLayer" id="archieve-upload"><i class="fas fa-plus"></i
        ></a>
                <div id="modalLayer">
                    <div id="modalContent">
                        <i class="fas fa-window-close"></i>
                        <h1>비밀번호를 입력해주세요</h1>
                        <form action="/archieving/pwconfirm" method="post">
                            <input type="password" name="password" /><br />
                            <input type="submit" value="글쓰러 가기" />
                        </form>
                    </div>
                </div>
                <div class="archieve-paginator">
                    <% if (hasPrev) {%>
                        <a href="/archieving/?page=<%=Number(page)-1 %>">
                            < </a>
                                <% } %>
                                    <span> <%= page %> </span>
                                    <% if (hasNext) {%>
                                        <a href="/archieving/?page=<%=Number(page)+1 %>"> > </a>
                                        <% } %>
                </div>
            </section>
        </section>
        <script src="/scripts/security.js"></script>
</body>

</html>