<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TIME</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(function() {
            $(".nav_btn").click(function() {
                $(".dropdown-content").slideToggle();
            });
        });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
</head>

<body>
    <%- include ("./partials/header") %>
        <section class="main" style="margin-top: 10vh">
            <section id="picture" class="body">
                <div id="pic_container">
                    <a href="/picture/<%= Number(pic_no)-1 %>">
                        <</a>
                            <img id="img__container" src="/img/activities/<%= img_name  %>.jpg" />
                            <a href="/picture/<%= Number(pic_no)+1 %>"> ></a>
                </div>
                <h1 style="padding: 1rem">
                    <%= img_name %>
                </h1>
            </section>
        </section>
</body>

</html>